<div class="container">
  <div class="row">
    <div class="col-9 col-sm-7 col-md-5 col-lg-4 mx-auto mt-5">
      <div class="card">
        <div class="card-body shadow-lg">
          <h2 class="card-title text-left font-weight-bold mb-3">Sign in</h2>

          <form class="card-text">
            <div class="form-group">
              <input required formControlName="username" type="text" class="form-control" placeholder="البريد الالكترونى">
              <div class="invalid-feedback">برجاءادخال الاسم</div>
            </div>
            <div class="form-group">
              <input required formControlName="username" type="text" class="form-control" placeholder="الاسم بالكامل">
              <div class="invalid-feedback">برجاءادخال الاسم</div>
            </div>
            <div class="form-group">
              <input required formControlName="username" type="text" class="form-control" placeholder="الصف الدراسى">
              <div class="invalid-feedback">برجاءادخال الاسم</div>
            </div>
            <div class="form-group">
              <input required formControlName="username" type="text" class="form-control" placeholder="كلمة المرور">
              <div class="invalid-feedback">برجاءادخال الاسم</div>
            </div>
            <div class="form-group">
              <input required formControlName="username" type="text" class="form-control" placeholder="اعادة كلمة المرور">
              <div class="invalid-feedback">برجاءادخال الاسم</div>
            </div>
            <div class="form-group">
              <input required formControlName="username" type="text" class="form-control" placeholder="رقم الموبيل">
              <div class="invalid-feedback">برجاءادخال الاسم</div>
            </div>
            <div class="form-group">
              <input required formControlName="username" type="text" class="form-control" placeholder="سنة الميلاد">
              <div class="invalid-feedback">برجاءادخال الاسم</div>
            </div>
            <div class="form-group">
              <input required formControlName="username" type="text" class="form-control" placeholder="المحافظة">
              <div class="invalid-feedback">برجاءادخال الاسم</div>
            </div>
          </form>
        </div>

        <div class="bg-white border-top">
          <p class="pl-4 mt-2">Don't have an account? <a routerLink="/auth/signup">sign up</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
